#Environment
.env
venv

#IDE & Editors
.vscode
.idea

#Cache
*.pyc

mainDB/__pycache__
mainDB/migrations/*
!mainDB/migrations/__init__

accounts/__pycache__
accounts/migrations/*
!accounts/migrations/__init__

LOGCOMPAREAPI/__pycache__
